$buttonsLength: 4;

$buttonsWidth: (100vw - 15vw) / $buttonsLength;

* {
    margin: 0;
    padding: 0;
}

.Navbar {
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 15vw 1fr 1fr;
    

    &>.logo {
        grid-column: 3 / 4;
        position: fixed;
        width: 15vw;
        height: 15vh;
        background-color: red;
        left: (100vw - 15vw) / 2;
        right: (100vw - 15vw) / 2;
    }
    &>.button {
        background-color: whitesmoke;
        width: $buttonsLength;
        padding: 0 5%;

    }
}