$buttonsLength: 4;

$buttonsWidth: (100% - 15%) / $buttonsLength;

* {
  margin: 0;
  padding: 0;
}

.Navbar {
  width: 100%;
  height: 15vh;
  display: flex;

  & > .logo {
    position: relative;
    order: 2;
    width: 50%;
    height: 15vh;
    background-color: rgb(36, 185, 93);
    border: 2px solid rgba(177, 240, 245, 0.925);
    padding: 0 0.1%;
  }
  & > .button {
    background-color: rgba(230, 236, 238, 0.925);
    width: 100%;
    height: 15vh;
    border: 2px solid rgba(187, 244, 245, 0.925);

    &:nth-child(4) {
      order: 3;
      height: 15vh;
      width: 100%;
    }
    &:nth-child(5) {
      order: 4;
      width: 100%;
      height: 15vh;
    }
  }
}

.container {
  width: 100%;
  background-color: rgb(83, 72, 39);
  padding-top: 5%;
  padding-bottom: 5%;
}

.post {
  border-radius: 0.5%;
  width: 70vw;
  height: 70vh;
  background-color: rgba(238, 230, 230, 0.925);
  margin: auto auto 5% auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: initial;
  flex-wrap: wrap;

  & > .logo {
    margin: 0;
    width: 6vh;
    height: 5vh;
  }

  & > p {
    width: 80%;
    height: 5vh;
  }

  & > span {
    width: 65vw;
    height: 3vh;
    margin: 1px auto;
  }

  & > .content {
    width: 100%;
    height: 45vh;
    margin: 0 2%;
    border-radius: 3%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    padding: 10px;
  }

  & > .title {
    width: 50vw;
    height: 5vh;
  }

  & > div {
    height: 15vh;
  }

  & > .autograph {
    margin: 0 0 0 60%;
    height: 10vh;
  }
}

button {
  width: 5vw;
  height: 5vh;
}

div.pagination {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: center;

  & > .number {
    display: flex;
    height: 40px;
    border: 1px solid black;
  }
}
